*{
	margin: 0;
	padding: 0;
}
body{
	font:"微软雅黑";
	font-size: 14px;
	color: #333;
}
#container{
	width:1000px;
	margin: 0 auto;
}
#header{
	height: 180px;
	background: #999;
	background:url(../img/top_bg.jpg) 0 0/100% 100% no-repeat;
	border: #bba147 5px double;
	border-bottom: #916c4f 5px ridge;
}
#nav{
	height: 50px;
	background-color: #999;
	background-color: #edeae1;
	margin-bottom: 5px;
	line-height: 50px;
}
#nav li{
	float: left;
	list-style: none;	
	text-align: center;
	width: 155px;
}
#nav a{
	text-decoration: none;
	color: #666;
	font-size: 16px; 
}
#nav li.active a{
 	color: #333;
	font-weight: 600; 
}
 #nav>div{	
	width: 200px;
	text-align: right;
	float: left;	
} 
#nav li:nth-child(odd){
	background-color: #bba687;
}
#nav li:nth-child(odd):after{
	content: "";
	width: 0;
	height: 0;	
	float: right;
	border-left:#bba687 solid 25px;
	border-top:#edeae1 solid 25px;
	border-bottom: #edeae1 solid 25px; */
}
#nav li:nth-child(even):after{
	content: "";
	width: 0;
	height: 0;
	
	float: right;
	border-left:#edeae1 solid 25px;
	border-top: #bba687 solid 25px;
	border-bottom:  #bba687 solid 25px; */
}
section{
	width: 326px;
	height: 284px;
	/* background-color: #ccc; */
	float: left;
	margin-right: 11px;
	margin-bottom: 5px;
	text-align: center;
}
#turn{
	width: 663px;
	background: url(../img/t1.jpg) 0 0/100% 100% no-repeat;
	animation: turn_pic 6s infinite;
	transition: all 0.5s;
}
@keyframes turn_pic{
	33%{ background-image: url(../img/t2.jpg);}
	67%{background-image: url(../img/t3.jpg);}	
}
#turn:hover{
	transform: scale(0.9);
}
#brand,#yuan{
	margin-right: 0;
}
section>h1{
	background: #bba687;
	height: 40px;
	border-radius: 5px;
	box-shadow:0px 1px 4px #000;
	text-align: center;
	line-height: 40px;
	color: white;
	font-size:20px ;
	font-weight: 500;
	text-shadow: 1px 1px 1px red;
	text-shadow: 1px 1px 1px red,1px 1px 1px #000;
	
}
#brand>p{
	margin: 10px 20px;	
}
#brand a {
	text-decoration: none;
	 color: #666;
}
#brand a:hover{
	text-decoration: underline;
	color: #BBA687;
}
#tang>table{
	/* background-color: red; */
	width: 100%;
	/* border: red solid 1px; */
}
#tang>table tr{
	/* border: red solid 1px; */
}
#tang>table td{
	/* border: red solid 1px; */
}
#tang>table td:nth-child(2n+1){
	/* width: 40%; */
}
#tang>table td:nth-child(2n){
	/* width: 60%; */
}
section h3,section h4,section p{
	margin-top: 10px;
}
#footer{
	/* background-color: #999; */
	height: 50px;
	clear: both;
	border-top: 4px solid #efefef;
	text-align: center;
	color: #DDD;
	font-size: 13px;
	 /*
	padding: 17.5px; */
}
section h3:after{
	/* content: url(../img/music.bmp); */
	content: attr(data-audio);
}
/* section h3.change:after{
	content:url(../img/music1.jpg);
}  */

